<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522675091669-au2b1v6c43e9cje32cp3rub4eteh017b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522675091669-au2b1v6c43e9cje32cp3rub4eteh017b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>522675091669-622m6m1tdahsoe0akdt40dgkeojhf923.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADMjFmYtJJ6lOIHBMUVkHf24Cp4XeaxVE</string>
	<key>GCM_SENDER_ID</key>
	<string>522675091669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.cac</string>
	<key>PROJECT_ID</key>
	<string>caca-c9b2tk</string>
	<key>STORAGE_BUCKET</key>
	<string>caca-c9b2tk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522675091669:ios:eda958ecf0c221d2508a5c</string>
</dict>
</plist>